body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins';
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  height: 100%;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #022b32;
  height: 80px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  color: #fff;
  background-color: #022b32;
  height: 80px;
  font-size: 16px;
}

.footer {
  margin-left: 20px;
}

.logo__img {
  margin-left: 20px;
}

.logo__nav ul {
  display: flex;
  color: #fff;
  list-style-type: none;
}

.logo__nav li {
  margin-left: 55px;
  cursor: pointer;
  font-size: 16px;
  height: 25px;
}

.active {
  border-bottom: 1px solid #fff;
}

.product-block {
  margin: 40px 20px;
}

.product-block__card {
  max-width: 1520px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.card {
  width: 350px;
  height: 475px;
  border: 3px solid #f2f2f2;
  margin: 10px;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-img img {
  flex-shrink: 0;
  width: auto;
}

.card h2 {
  margin: 0 25px 15px 25px;
  font-size: 19px;
}

.card p {
  margin: 0 25px;
  font-size: 13px;
  padding: 8px 0;
}

.home-block {
  margin: 150px 100px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slick-slide {
  width: auto !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.slick-next {
  background: #fff !important;
  border: 1.7px solid #f8f8f8;
  box-shadow: 0px 3.4px 17px rgba(0, 0, 0, 0.1);
  background-image: url('./assets/arrow.svg') !important;
  border-radius: 50%;
  width: 68px !important;
  height: 68px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.slick-next:before {
  content: '';
}

.slick-prev {
  background: #fff !important;
  border: 1.7px solid #f8f8f8;
  z-index: 5;
  box-shadow: 0px 3.4px 17px rgba(0, 0, 0, 0.1);
  background-image: url('./assets/prev2.svg') !important;
  border-radius: 50%;
  width: 68px !important;
  height: 68px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.slick-prev:before {
  content: '';
}
